/* Defino una animación para el form, la clase .animated será agregada al clickear en el enlace del header */

@keyframes form-animation {
  from {
    transform: 0;
  }
  25% {
    transform: translate(2.5%);
  }
  75% {
    transform: translate(-2.5%);
  }
}

.form {
  background-color: $white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  outline: 0;
  padding: 2rem 1.5rem;
  scroll-margin-top: 200px; /* Altura de la navbar + un extra para que el destino esté centrado en mobile */
  &.animated {
    animation: 1.5s linear forwards form-animation; /* Animación */
  }
  @media only screen and (max-width: 400px) {
    width: 100%;
  }
  @media only screen and (min-width: 992px) {
    max-width: 425px;
  }
  @media only screen and (min-width: 1200px) {
    margin: 0;
  }
  .form__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    span {
      font-size: 1.75rem;
      margin: 0 0 1rem 0;
      text-align: center;
      @media only screen and (max-width: 400px) {
        max-width: 270px;
      }
      h1 {
        display: inline;
      }
    }
    p {
      font-size: 1.25rem;
      text-align: center;
    }
  }
  .form__body {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    @media only screen and (min-width: 768px) {
      justify-content: space-between;
    }
    .body-row {
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0;
      width: 100%;
      &:nth-child(3) {
        label {
          @media only screen and (min-width: 768px) {
            max-width: 200px;
          }
        }
        input {
          /* Hide arrows from input type = "number" */
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          &:focus-visible {
            outline: black 0.75px solid;
          }
          @media only screen and (min-width: 768px) {
            max-width: 200px;
          }
        }
      }
      &.small {
        @media only screen and (min-width: 768px) {
          flex-basis: 175px;
          flex-grow: 1;
          max-width: 200px;
        }
      }
      label {
        font-size: 0.875rem;
      }
      select {
        border: black 0.75px solid;
        height: 2.5rem;
        &:hover {
          border: black 0.75px solid;
        }
        &:focus-visible {
          outline: black 0.75px solid;
        }
      }
      input {
        border: black 0.75px solid;
        font-size: 1rem;
        height: 2.5rem;
        &:hover {
          border: black 0.75px solid;
        }
        &:focus-visible {
          outline: black 0.75px solid;
        }
      }
      .date-start,
      .date-end {
        @media only screen and (min-width: 992px) {
          max-width: 187px;
        }
      }
    }
    button {
      background-color: $yellow;
      border: 0;
      border-radius: 0.25rem;
      color: $blue;
      font-size: 1.25rem;
      font-weight: 700;
      margin: 1rem auto 0 auto;
      padding: 0.5rem 2.75rem;
    }
  }
}
