.header {
  nav {
    background-color: $blue;
    padding: 2.5rem 0.5rem;
    .container-fluid {
      .navbar-toggler {
        border: 0;
        .navbar-toggler-icon {
          background-image: url("./../media/hamburger.svg");
        }
      }
      .navbar-collapse {
        .navbar-nav {
          align-items: flex-end;
          .nav-link {
            color: $beige;
            // &:last-child {
            //   background-color: $yellow;
            // }
          }
        }
      }
    }
  }
}
