.main {
  background-color: $gray;
  padding: 121px 0 0 0; /* El padding top debe ser igual a la altura de la navbar */
  .main__hero {
    background-color: $yellow;
    padding: 4.5rem 1.5rem;
    @media only screen and (max-width: 400px) {
      padding: 4.5rem 0.5rem;
    }
    @media only screen and (min-width: 992px) {
      display: flex;
      padding: 5.5rem 1.25rem;
    }
    @media only screen and (min-width: 1200px) {
      justify-content: space-evenly;
    }
    .hero-content {
      @media only screen and (min-width: 992px) {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-basis: 550px;
        justify-content: center;
        position: relative;
      }
      & > h1,
      p {
        text-align: center;
      }
      h1 {
        color: $blue;
        font-size: 4rem;
        font-weight: 700;
        line-height: 4rem;
        margin: 0 0 1rem 0;
        @media only screen and (max-width: 400px) {
          font-size: 3.5rem;
          width: 100%;
        }
        @media only screen and (min-width: 992px) {
          text-align: left;
        }
      }
      p {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.125rem;
        margin: 0 auto 1rem auto;
        @media only screen and (min-width: 400px) {
          font-size: 2rem;
        }
        @media only screen and (min-width: 576px) {
          width: 500px;
        }
        @media only screen and (min-width: 992px) {
          margin: 0 0 1rem 0;
          max-width: 350px;
          text-align: left;
        }
      }
      & > div {
        @media only screen and (min-width: 576px) {
          display: flex;
          flex-direction: column;
        }
        p {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.75rem;
          text-align: center;
          @media only screen and (min-width: 992px) {
            max-width: 275px;
            text-align: left;
          }
        }
        img {
          max-width: 325px;
          @media only screen and (max-width: 400px) {
            width: 100%;
          }
          @media only screen and (min-width: 576px) {
            margin: 0 auto;
          }
          @media only screen and (min-width: 992px) {
            position: absolute;
            left: 250px;
            top: 300px;
          }
        }
      }
    }
  }
  .main__first {
    .first-content {
      background-color: $orange;
      padding: 0 1.5rem;
      p {
        color: $white;
        font-size: 2.125rem;
        font-weight: 700;
        line-height: 2.375rem;
        padding: 2.5rem 0;
        text-align: center;
      }
    }
  }
  .main__second {
    padding: 4.5rem 1.5rem;
    @media only screen and (max-width: 400px) {
      padding: 4.5rem 0.5rem;
    }
    .second-introduction {
      margin: 0 auto 3rem auto;
      @media only screen and (min-width: 992px) {
        width: 800px;
      }
      h3 {
        color: $blue;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.375rem;
        margin: 0 auto;
        text-align: center;
      }
    }
    .second-content {
      display: flex;
      flex-direction: column;
      @media only screen and (min-width: 768px) {
        align-items: center;
        flex-direction: row;
        justify-content: center;
      }
      @media only screen and (min-width: 992px) {
        justify-content: space-evenly;
      }
      @media only screen and (min-width: 1200px) {
        justify-content: center;
      }
      & > div {
        @media only screen and (min-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          width: 500px;
        }
        @media only screen and (min-width: 992px) {
          flex-basis: 700px;
        }
        .second-content-container {
          align-items: flex-start;
          display: flex;
          margin: 0 0 2.5rem 0;
          width: 100%;
          @media only screen and (min-width: 992px) {
            margin: 0 0 2.5rem 4rem;
            width: 500px;
          }
          &:last-child {
            margin: 0;
            @media only screen and (min-width: 992px) {
              margin: 0 0 0 4rem;
            }
          }
          img {
            margin: 0.375rem 0 0 0;
          }
          p {
            font-size: 2rem;
            font-weight: 700;
            line-height: 2rem;
            margin: 0 0 0 1rem;
          }
        }
      }
      .second-content-image {
        margin: 0 auto;
        max-width: 250px;
        width: 75%;
        @media only screen and (min-width: 768px) {
          margin: 0;
        }
      }
    }
  }
  .main__third {
    padding: 0 0 3rem 0;
    .third-introduction {
      margin: 0 0 2rem 0;
      padding: 0 0.5rem;
      h2 {
        color: $blue;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3rem;
        margin: 0 auto 1rem auto;
        text-align: center;
        @media only screen and (min-width: 768px) {
          max-width: 768px;
        }
      }
      p {
        font-size: 2rem;
        font-weight: 450;
        line-height: 3.125rem;
        text-align: center;
      }
    }
    .third-content {
      @media only screen and (min-width: 992px) {
        display: flex;
        justify-content: center;
        position: relative;
      }
      .third-content-container {
        @media only screen and (min-width: 992px) {
          display: flex;
          flex-direction: column;
          justify-content: start;
          width: 350px;
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(3) {
            order: 3;
          }
        }
        &.hero {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          padding: 0 0 4rem 0;
          position: relative;
          @media only screen and (min-width: 768px) {
            padding: 0;
          }
          @media only screen and (min-width: 992px) {
            align-items: center;
            justify-content: start;
            order: 2;
            padding: 0 0 1rem 0;
            width: 280px;
          }
          .button-main {
            align-items: center;
            background-color: $orange;
            border: 0;
            border-radius: 2rem;
            color: $blue;
            display: flex;
            font-size: 1.5rem;
            font-weight: 700;
            justify-content: center;
            line-height: 2.5rem;
            margin: 0 auto;
            min-width: 290px;
            padding: 0.5em 2.5em;
            position: relative;
            text-decoration: none;
            z-index: 10;
            &:hover {
              background-color: $blue;
              color: $yellow;
            }
          }
          .elipse {
            bottom: 0;
            max-height: 475px;
            max-width: 768px;
            position: absolute;
            width: 100%;
            z-index: 0;
            @media only screen and (min-width: 768px) {
              display: none;
            }
          }
          .circle {
            display: none;
            @media only screen and (min-width: 768px) {
              bottom: 0;
              display: block;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              z-index: 0;
              width: 500px;
            }
            @media only screen and (min-width: 992px) {
              bottom: -300px;
              display: block;
              position: absolute;
              z-index: 0;
              width: 500px;
            }
          }
        }
        .cellphone {
          margin: 0 auto;
          max-width: 375px;
          position: relative;
          z-index: 10;
          @media only screen and (max-width: 400px) {
            width: 100%;
          }
          @media only screen and (min-width: 992px) {
            width: 275px;
          }
        }
        .container__block {
          display: flex;
          flex-wrap: wrap;
          padding: 2rem 1.25rem;
          @media only screen and (min-width: 992px) {
            height: 200px;
            margin: 1rem 0;
            padding: 0;
          }
          .block-image {
            background-color: $yellow;
            border: 0;
            border-radius: 0.75rem;
            display: flex;
            height: 70px;
            padding: 1rem;
            width: fit-content;
            @media only screen and (min-width: 992px) {
              height: 50px;
              padding: 0.75rem;
            }
            img {
              height: 100%;
              width: 100%;
            }
          }
          .block-text {
            flex-grow: 1;
            flex-basis: 200px;
            margin: 0 0 0 2rem;
            @media only screen and (min-width: 992px) {
              flex-basis: 175px;
              margin: 0 0 0 1.25rem;
            }
            p {
              &:first-child {
                font-size: 1.75rem;
                font-weight: 700;
                line-height: 2.125rem;
                @media only screen and (min-width: 992px) {
                  font-size: 1.5rem;
                }
              }
              &:last-child {
                font-size: 1.25rem;
                font-weight: 450;
                line-height: 1.75rem;
                margin: 0.5rem 0 0 0;
                @media only screen and (min-width: 992px) {
                  font-size: 1.25rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .main__fourth {
    background-color: $blue;
    padding: 4rem 1.5rem;
    position: relative;
    z-index: 10;
    @media only screen and (max-width: 400px) {
      padding: 4.5rem 0.5rem;
    }
    .fourth-introduction {
      h2 {
        color: $beige;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3rem;
        margin: 0 auto 1rem auto;
        max-width: 700px;
        text-align: center;
      }
    }
    .fourth-content_sm {
      display: flex;
      flex-wrap: wrap;
      @media only screen and (min-width: 992px) {
        display: none;
      }
      .fourth-content-container {
        background-color: $yellow;
        border: 0;
        border-radius: 2.125rem;
        margin: 1.25rem auto;
        max-width: 475px;
        padding: 1.5rem;
        &:first-child {
          margin: 2.5rem auto 1.25rem auto;
        }
        p {
          color: $blue;
          line-height: 1.5rem;
          font-weight: 700;
          &:nth-child(1) {
            font-size: 3rem;
            line-height: 3rem;
          }
          &:nth-child(2) {
            font-size: 1.5rem;
            margin: 0.5rem 0;
          }
          &:nth-child(3) {
            font-size: 1.25rem;
            font-weight: 450;
          }
          a {
            color: $blue;
            font-weight: 500;
            text-decoration: underline;
          }
        }
      }
      .button-main {
        display: none;
      }
    }
    .fourth-content_lg {
      display: none;
      @media only screen and (min-width: 992px) {
        display: flex;
        justify-content: center;
      }
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      & > img {
        @media only screen and (min-width: 992px) {
          margin: 0 2rem;
        }
      }
      .fourth-content-container {
        background-color: $yellow;
        border: 0;
        border-radius: 2.125rem;
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: center;
        margin: 1.25rem auto;
        padding: 1.5rem;
        width: 300px;
        p {
          color: $blue;
          line-height: 1.5rem;
          margin: 0;
          &:nth-child(1) {
            font-size: 2.5rem;
            font-weight: 700;
          }
          &:nth-child(2) {
            font-size: 1.25rem;
            font-weight: 700;
            margin: 0.5rem 0;
          }
          &:nth-child(3) {
            font-size: 1rem;
            font-weight: 450;
          }
          a {
            color: $blue;
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }
    }
    .button-main {
      align-items: center;
      background-color: $orange;
      border: 0;
      border-radius: 2rem;
      color: $blue;
      display: flex;
      font-size: 1.5rem;
      font-weight: 700;
      justify-content: center;
      line-height: 2.5rem;
      margin: 2.5rem auto 0 auto;
      padding: 0.5em 2.5em;
      text-decoration: none;
      width: fit-content;
      &:hover {
        background-color: $yellow;
      }
    }
  }
  .main__fifth {
    background-color: $beige;
    padding: 4rem 1.5rem;
    scroll-margin-top: 200px; /* Altura de la navbar + un extra para que el destino esté centrado */
    @media only screen and (max-width: 400px) {
      padding: 4.5rem 0.5rem;
    }
    .fifth-introduction {
      margin: 0 0 2rem 0;
      h3 {
        color: $blue;
        font-size: 3rem;
        font-weight: 700;
        line-height: 55px;
        text-align: center;
        @media only screen and (max-width: 400px) {
          font-size: 2.75rem;
        }
      }
    }
    .fifth-content {
      margin: 2rem auto 0 auto;
      @media only screen and (min-width: 992px) {
        width: 700px;
      }
      #accordion {
        .accordion-item {
          border: 0;
          border-width: 0;
          color: $blue;
          margin: 0.5rem auto;
          .accordion-header {
            .accordion-button {
              background-color: $beige;
              border-bottom: $orange 1px solid;
              color: $blue;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.875rem;
              text-align: left;
              &:focus {
                box-shadow: none;
              }
              &::after {
                background-image: url("./../media/plus.svg");
              }
              &:not(.collapsed) {
                &::after {
                  background-image: url("./../media/minus.svg");
                }
              }
            }
          }
          .accordion-collapse {
            .accordion-body {
              background-color: $beige;
              border: 0;
              font-size: 1.25rem;
              font-weight: 450;
              line-height: 2rem;
              padding: 2rem 1.25rem 2.5rem 1.25rem;
              text-align: left;
            }
          }
        }
      }
    }
  }
  .main__sixth {
    align-items: center;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0.75rem;
    p {
      text-align: center;
      &:nth-child(1) {
        color: #fff;
        font-size: 3rem;
        font-weight: 700;
      }
      &:nth-child(2) {
        color: $yellow;
        font-size: 1.25rem;
        font-weight: 500;
        svg {
          color: #25d366;
        }
      }
    }
    a {
      background-color: $yellow;
      border: 0;
      border-radius: 2rem;
      color: $blue;
      display: flex;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 1rem 0 0 0;
      padding: 0.5em 2.5em;
      text-decoration: none;
      width: fit-content;
      &:hover {
        background-color: $orange;
      }
      svg {
        margin: 0 0.75rem 0 0;
      }
    }
  }
  .main__seventh {
    background-color: $orange;
    scroll-margin-top: 200px; /* Altura de la navbar + un extra para que el destino esté centrado */
    padding: 4rem 0.75rem;
    .seventh-introduction {
      h2 {
        color: $white;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3rem;
        text-align: center;
      }
      p {
        color: $blue;
        font-size: 1.5rem;
        font-weight: 450;
        line-height: 34px;
        margin: 2rem 0;
        text-align: center;
        @media only screen and (min-width: 768px) {
          margin: 2rem auto;
          width: 700px;
        }
      }
    }
    .seventh-content {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      @media only screen and (min-width: 992px) {
        justify-content: center;
      }
      a {
        align-items: center;
        background-color: $blue;
        border: 0;
        border-radius: 2rem;
        color: $yellow;
        display: flex;
        font-size: 1.5rem;
        font-weight: 700;
        justify-content: center;
        line-height: 2.5rem;
        margin: 2.5rem auto 2.5rem auto;
        padding: 0.5em 2.5em;
        text-decoration: none;
        width: fit-content;
        &:hover {
          background-color: $yellow;
          color: $blue;
        }
        @media only screen and (min-width: 768px) {
          margin: 1.5rem auto;
        }
        @media only screen and (min-width: 992px) {
          margin: 0 2rem;
        }
      }
      .seventh-content-image {
        margin: 0 auto;
        max-width: 225px;
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
        @media only screen and (min-width: 576px) {
          margin: 0 auto;
          width: 300px;
        }
        @media only screen and (min-width: 768px) {
          margin: 0;
          width: 225px;
        }
      }
      .seventh-content-image_lg {
        display: none;
        @media only screen and (min-width: 768px) {
          display: flex;
          width: 225px;
        }
      }
    }
  }
  .main__eighth {
    background-color: $yellow;
    padding: 4rem 0.75rem;
    @media only screen and (min-width: 992px) {
      padding: 3rem 0.75rem;
    }
    .eighth-content {
      .eighth__row {
        @media only screen and (min-width: 992px) {
          display: flex;
          justify-content: space-evenly;
        }
        .eighth__column {
          margin: 2rem 0;
          @media only screen and (min-width: 992px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
          }
          .eighth-content-container {
            &:first-child {
              p {
                font-size: 3rem;
                font-weight: 700;
                line-height: 3rem;
                margin: 0 auto;
                max-width: 575px;
                text-align: center;
                @media only screen and (min-width: 992px) {
                  margin: 0 auto 0 0.5rem;
                  text-align: left;
                }
              }
              h2 {
                color: $blue;
                font-size: 2.125rem;
                font-weight: 450;
                line-height: 2.125rem;
                margin: 3rem auto;
                max-width: 650px;
                text-align: center;
                @media only screen and (min-width: 992px) {
                  font-size: 1.5rem;
                  line-height: 1.75rem;
                  margin: 0.75rem auto 0 0.5rem;
                  max-width: 475px;
                  text-align: left;
                }
              }
            }
            &.block {
              align-items: center;
              background-color: $blue;
              border: 0;
              border-radius: 2.125rem;
              display: flex;
              height: 200px;
              margin: 2rem auto;
              max-width: 375px;
              padding: 2rem;
              @media only screen and (min-width: 992px) {
                height: 150px;
                margin: 1rem 3rem 0 auto;
                padding: 1.5rem 1.75rem;
                width: 300px;
              }
              p {
                color: $yellow;
                font-size: 1.75rem;
                font-weight: 700;
                line-height: 2.375rem;
                margin: 0;
                text-align: center;
                text-transform: uppercase;
                @media only screen and (max-width: 400px) {
                  font-size: 1.5rem;
                }
                @media only screen and (min-width: 992px) {
                  font-size: 1.25rem;
                  line-height: 2rem;
                }
              }
            }
          }
          .eighth-content-image {
            display: flex;
            height: 325px;
            position: relative;
            @media only screen and (min-width: 992px) {
              position: absolute;
              bottom: -10px;
              left: -80px;
            }
            img {
              bottom: -25px;
              max-width: 275px;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              @media only screen and (min-width: 992px) {
                left: 50px;
                transform: none;
                width: 250px;
              }
            }
          }
          .eighth-content-form {
            background-color: $white;
            border-radius: 10px;
            display: flex;
            margin: 0 auto;
            width: 100%;
            @media only screen and (max-width: 400px) {
              width: 100%;
            }
            @media only screen and (min-width: 992px) {
              max-width: 400px;
            }
            img {
              width: 100%;
            }
          }
        }
      }
      &.end {
        margin: 3rem auto 1rem auto;
        width: 100%;
        @media only screen and (min-width: 992px) {
          width: 600px;
        }
        p {
          font-size: 2rem;
          font-weight: 700;
          line-height: 2rem;
          text-align: center;
        }
      }
    }
  }
}
