.main {
  background-color: $gray;
  padding: 146px 0 0 0; // top padding must be equal to navbar height //
  .main__hero {
    background-color: $yellow;
    padding: 4.5rem 1.5rem;
    @media only screen and (max-width: 400px) {
      padding: 4.5rem 0.5rem;
    }
    @media only screen and (min-width: 992px) {
      display: flex;
      padding: 5.5rem 1.5rem;
    }
    .hero-content {
      @media only screen and (min-width: 992px) {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-basis: 550px;
        position: relative;
      }
      & > p {
        text-align: center;
        &:nth-child(1) {
          font-size: 4rem;
          font-weight: 700;
          line-height: 4rem;
          margin: 0 0 1rem 0;
          @media only screen and (max-width: 400px) {
            width: 100%;
          }
          @media only screen and (min-width: 992px) {
            text-align: left;
          }
        }
        &:nth-child(2) {
          font-size: 2rem;
          font-weight: 500;
          line-height: 2.125rem;
          @media only screen and (min-width: 992px) {
            max-width: 350px;
            text-align: left;
          }
        }
      }
      & > div {
        @media only screen and (min-width: 992px) {
          // display: flex;
        }
        p {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.75rem;
          text-align: center;
          @media only screen and (min-width: 992px) {
            max-width: 275px;
            text-align: left;
          }
        }
        img {
          @media only screen and (max-width: 400px) {
            width: 100%;
          }
          @media only screen and (min-width: 992px) {
            position: absolute;
            left: 250px;
            top: 200px;
          }
        }
      }
    }
    .hero-form {
      background-color: $white;
      border-radius: 10px;
      height: 426px;
      margin: 0 auto;
      width: 320px;
      @media only screen and (min-width: 992px) {
        margin: 0 0 0 auto;
        width: 375px;
      }
      img {
        width: 100%;
      }
    }
  }
  .main__first {
    .first-content {
      background-color: $orange;
      padding: 0 1.5rem;
      p {
        color: $white;
        font-size: 2.125rem;
        font-weight: 700;
        line-height: 2.375rem;
        padding: 2.5rem 0;
        text-align: center;
      }
    }
  }
  .main__second {
    padding: 4.5rem 1.5rem;
    @media only screen and (max-width: 400px) {
      padding: 4.5rem 0.5rem;
    }
    .second-introduction {
      margin: 0 auto 3rem auto;
      @media only screen and (min-width: 992px) {
        width: 650px;
      }
      p {
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.375rem;
        text-align: center;
      }
    }
    .second-content {
      @media only screen and (min-width: 992px) {
        display: flex;
      }
      & > div {
        .second-content-container {
          align-items: flex-start;
          display: flex;
          margin: 0 0 2.5rem 0;
          width: 100%;
          @media only screen and (min-width: 992px) {
            margin: 0 0 2.5rem 4rem;
            width: 500px;
          }
          &:last-child {
            margin: 0 0 0 4rem;
            @media only screen and (max-width: 400px) {
              margin: 0;
            }
          }
          img {
            margin: 0.375rem 0 0 0;
          }
          p {
            font-size: 2.125rem;
            font-weight: 700;
            line-height: 2.125rem;
            margin: 0 0 0 1rem;
          }
        }
      }
      .second-content-image {
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
        @media only screen and (min-width: 992px) {
          margin: 0 0 0 auto;
        }
      }
    }
  }
  .main__third {
    padding: 0 0 3rem 0;
    .third-introduction {
      margin: 0 0 2rem 0;
      padding: 0 0.5rem;
      p {
        &:first-child {
          font-size: 3rem;
          font-weight: 700;
          line-height: 3rem;
          margin: 0 auto 1rem auto;
          text-align: center;
        }
        &:last-child {
          font-size: 2.125rem;
          font-weight: 450;
          line-height: 3.125rem;
          text-align: center;
        }
      }
    }
    .third-content {
      @media only screen and (min-width: 992px) {
        display: flex;
        justify-content: center;
        position: relative;
      }
      .third-content-container {
        @media only screen and (min-width: 992px) {
          display: flex;
          flex-direction: column;
          justify-content: start;
          width: 350px;
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(3) {
            order: 3;
          }
        }
        &.hero {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding: 0 0 4rem 0;
          position: relative;
          @media only screen and (min-width: 992px) {
            align-items: center;
            flex-direction: column;
            // height: 750px;
            justify-content: start;
            order: 2;
            padding: 0 0 1rem 0;
            position: relative;
            width: 280px;
          }
          .elipse {
            bottom: 0;
            position: absolute;
            width: 100%;
            z-index: 0;
            @media only screen and (min-width: 992px) {
              display: none;
            }
          }
        }
        .cellphone {
          position: relative;
          z-index: 10;
          @media only screen and (max-width: 400px) {
            width: 100%;
          }
          @media only screen and (min-width: 992px) {
            width: 275px;
          }
        }
        button {
          align-items: center;
          background-color: $orange;
          border: 0;
          border-radius: 2rem;
          color: $blue;
          display: flex;
          font-size: 2rem;
          font-weight: 700;
          justify-content: center;
          line-height: 2.5rem;
          margin: 0 auto;
          padding: 1.5rem 3.5rem;
          position: relative;
          z-index: 10;
          @media only screen and (min-width: 992px) {
            font-size: 1.5rem;
            padding: 0.75rem 1.75rem;
          }
        }
        .container__block {
          display: flex;
          flex-wrap: wrap;
          padding: 2rem 1.25rem;
          @media only screen and (min-width: 992px) {
            height: 200px;
            margin: 1rem 0;
            padding: 0;
          }
          .block-image {
            background-color: $yellow;
            border: 0;
            border-radius: 0.75rem;
            display: flex;
            height: 70px;
            padding: 1rem;
            width: fit-content;
            @media only screen and (min-width: 992px) {
              height: 50px;
              padding: 0.75rem;
            }
            img {
              height: 100%;
              width: 100%;
            }
          }
          .block-text {
            flex-grow: 1;
            flex-basis: 200px;
            margin: 0 0 0 2rem;
            @media only screen and (min-width: 992px) {
              flex-basis: 175px;
              margin: 0 0 0 1.25rem;
            }
            p {
              &:first-child {
                font-size: 1.75rem;
                font-weight: 700;
                line-height: 2.125rem;
                @media only screen and (min-width: 992px) {
                  font-size: 1.5rem;
                }
              }
              &:last-child {
                font-size: 1.25rem;
                font-weight: 450;
                line-height: 1.75rem;
                margin: 0.5rem 0 0 0;
                @media only screen and (min-width: 992px) {
                  font-size: 1.25rem;
                }
              }
            }
          }
        }
      }
      .circle {
        display: none;
        @media only screen and (min-width: 992px) {
          bottom: -300px;
          display: block;
          position: absolute;
          z-index: 0;
          width: 500px;
        }
      }
    }
  }
  .main__fourth {
    background-color: $blue;
    padding: 4rem 1.5rem;
    position: relative;
    z-index: 10;
    @media only screen and (max-width: 400px) {
      padding: 4.5rem 0.5rem;
    }
    .fourth-introduction {
      p {
        color: $beige;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3rem;
        text-align: center;
      }
    }
    .fourth-content_sm {
      display: flex;
      flex-wrap: wrap;
      @media only screen and (min-width: 992px) {
        display: none;
      }
      .fourth-content-container {
        background-color: $yellow;
        border: 0;
        border-radius: 2.125rem;
        margin: 1.25rem auto;
        padding: 1.5rem;
        &:first-child {
          margin: 2.5rem auto 1.25rem auto;
        }
        p {
          color: $blue;
          line-height: 1.5rem;
          font-weight: 700;
          &:nth-child(1) {
            font-size: 3rem;
            line-height: 3rem;
          }
          &:nth-child(2) {
            font-size: 1.5rem;
            margin: 0.5rem 0;
          }
          &:nth-child(3) {
            font-size: 1.25rem;
            font-weight: 450;
          }
          a {
            color: $orange;
            text-decoration: none;
          }
        }
      }
      button {
        display: none;
      }
    }
    .fourth-content_lg {
      display: none;
      @media only screen and (min-width: 992px) {
        display: flex;
        justify-content: space-evenly;
      }
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .fourth-content-container {
        background-color: $yellow;
        border: 0;
        border-radius: 2.125rem;
        display: flex;
        flex-direction: column;
        height: 175px;
        justify-content: center;
        margin: 1.25rem auto;
        padding: 1.5rem;
        width: 300px;
        p {
          color: $blue;
          line-height: 1.5rem;
          margin: 0;
          &:nth-child(1) {
            font-size: 2.5rem;
            font-weight: 700;
          }
          &:nth-child(2) {
            font-size: 1.25rem;
            font-weight: 700;
            margin: 0.5rem 0;
          }
          &:nth-child(3) {
            font-size: 1rem;
            font-weight: 450;
          }
        }
      }
    }
    button {
      align-items: center;
      background-color: $orange;
      border: 0;
      border-radius: 2rem;
      color: $blue;
      display: flex;
      font-size: 1.75rem;
      font-weight: 700;
      justify-content: center;
      line-height: 2.5rem;
      margin: 2.5rem auto 2.5rem auto;
      padding: 1rem 3rem;
    }
  }
  .main__fifth {
    background-color: $beige;
    padding: 4rem 1.5rem;
    @media only screen and (max-width: 400px) {
      padding: 4.5rem 0.5rem;
    }
    .fifth-introduction {
      margin: 0 0 2rem 0;
      p {
        text-align: center;
        &:first-child {
          font-size: 3.375rem;
          font-weight: 700;
          line-height: 55px;
          @media only screen and (max-width: 400px) {
            font-size: 3rem;
          }
        }
        &:last-child {
          font-size: 2rem;
          font-weight: 500;
          line-height: 50px;
          @media only screen and (max-width: 400px) {
            font-size: 1.75rem;
          }
        }
      }
    }
    .fifth-content {
      margin: 2rem auto 0 auto;
      @media only screen and (min-width: 992px) {
        width: 700px;
      }
      #accordion {
        .accordion-item {
          border: 0;
          border-width: 0;
          color: $blue;
          margin: 0.5rem auto;
          .accordion-header {
            .accordion-button {
              background-color: $beige;
              border-bottom: $orange 1px solid;
              color: $blue;
              font-size: 1.75rem;
              font-weight: 700;
              line-height: 1.875rem;
              text-align: left;
              @media only screen and (max-width: 400px) {
                font-size: 1.5rem;
              }
              @media only screen and (min-width: 992px) {
                font-size: 1.5rem;
              }
              &::after {
                background-image: url("./../media/plus.svg");
              }
            }
          }
          .accordion-collapse {
            .accordion-body {
              background-color: $beige;
              border: 0;
              font-size: 1.5rem;
              font-weight: 450;
              line-height: 2rem;
              padding: 2rem 1.25rem 2.5rem 1.25rem;
              text-align: left;
              @media only screen and (max-width: 400px) {
                font-size: 1.25rem;
              }
              @media only screen and (min-width: 992px) {
                font-size: 1.25rem;
              }
            }
          }
        }
      }
    }
  }
  .main__sixth {
    background-color: $orange;
    padding: 4rem 0.75rem;
    .sixth-introduction {
      p {
        text-align: center;
        &:first-child {
          color: $white;
          font-size: 39px;
          font-weight: 700;
          line-height: 39px;
        }
        &:last-child {
          color: $blue;
          font-size: 2rem;
          font-weight: 450;
          line-height: 34px;
          margin: 2rem 0;
        }
      }
    }
    .sixth-content {
      .sixth-content-image_lg {
        display: none;
      }
      button {
        align-items: center;
        background-color: $blue;
        border: 0;
        border-radius: 2rem;
        color: $yellow;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        justify-content: center;
        line-height: 2.5rem;
        margin: 2.5rem auto 2.5rem auto;
        padding: 1.25rem 3.5rem;
      }
      .sixth-content-image {
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
      }
      @media only screen and (min-width: 992px) {
        align-items: center;
        display: flex;
        img {
          width: 225px;
        }
        .sixth-content-image_lg {
          display: flex;
        }
        button {
          height: fit-content;
          line-height: 1rem;
          margin: 1.5rem auto;
          padding: 2.25rem 2.5rem;
        }
      }
    }
  }
  .main__seventh {
    background-color: $yellow;
    padding: 4rem 0.75rem;
    @media only screen and (min-width: 992px) {
      padding: 3rem 0.75rem;
    }
    .seventh-content {
      .seventh__row {
        @media only screen and (min-width: 992px) {
          display: flex;
          justify-content: space-evenly;
          .seventh__column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            .seventh-content-container {
              width: 400px;
              &:first-child {
                p {
                  text-align: left;
                  &:first-child {
                    font-size: 3rem;
                    font-weight: 700;
                    line-height: 3rem;
                  }
                  &:last-child {
                    font-size: 1.75rem;
                    font-weight: 450;
                    line-height: 1.75rem;
                    margin: 0.75rem auto;
                  }
                }
              }
              &.block {
                height: fit-content;
                margin: 1rem 0 0 auto;
                padding: 1.5rem 1.75rem;
                width: 250px;
                p {
                  font-size: 1.25rem;
                  line-height: 2rem;
                }
              }
            }
            .seventh-content-image {
              position: absolute;
              bottom: -60px;
              left: -60px;
              img {
                width: 250px;
              }
            }
            .seventh-content-form {
              width: 400px;
            }
          }
        }
      }
      .seventh-content-container {
        &:first-child {
          p {
            text-align: center;
            &:first-child {
              font-size: 3rem;
              font-weight: 700;
              line-height: 3rem;
            }
            &:last-child {
              font-size: 2.125rem;
              font-weight: 450;
              line-height: 2.125rem;
              margin: 3rem auto;
            }
          }
        }
        &.block {
          align-items: center;
          background-color: $blue;
          border: 0;
          border-radius: 2.125rem;
          display: flex;
          height: 200px;
          margin: 2rem auto;
          padding: 2rem;
          p {
            color: $yellow;
            font-size: 1.75rem;
            font-weight: 700;
            line-height: 2.375rem;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
      &.end {
        margin: 3rem auto 1rem auto;
        width: 600px;
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
        p {
          font-size: 2rem;
          font-weight: 700;
          line-height: 2rem;
          text-align: center;
        }
      }
      .seventh-content-image {
        height: 500px;
        position: relative;
        img {
          bottom: 25px;
          position: absolute;
          @media only screen and (max-width: 400px) {
            width: 100%;
          }
        }
      }
      .seventh-content-form {
        background-color: $white;
        border-radius: 10px;
        display: flex;
        margin: 0 auto;
        width: 100%;
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .main__eighth {
    background-color: $beige;
    padding: 4rem 0.75rem;
    @media only screen and (min-width: 992px) {
      display: flex;
      justify-content: space-around;
    }
    .eighth-introduction {
      display: flex;
      flex-wrap: wrap;
      padding: 2.5rem 1rem;
      @media only screen and (min-width: 992px) {
        flex-direction: column;
      }
      .eighth-introduction-banner {
        align-items: center;
        display: flex;
        height: 100px;
        justify-content: center;
        margin: 0 auto;
        padding: 1rem 0 0 0;
        width: 350px;
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
        img {
          @media only screen and (max-width: 400px) {
            width: 100%;
          }
        }
      }
      .eighth-introduction-paragraph {
        p {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 30px;
          margin: 1.5rem 0;
        }
      }
      .eighth-introduction-social {
        display: flex;
        width: 100%;
        .social__container {
          align-items: center;
          background-color: $orange;
          border: 0;
          border-radius: 0.5rem;
          display: flex;
          height: 65px;
          justify-content: center;
          margin: 0 0.5rem;
          width: 65px;
          &:first-child {
            margin: 0 0.5rem 0 0;
          }
        }
      }
    }
    .eighth-content {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin: 1rem auto;
      @media only screen and (min-width: 992px) {
        flex-direction: column;
        flex-basis: 500px;
        height: 225px;
        margin: auto 0;
      }
      .eighth-content-container {
        align-items: center;
        border-bottom: $blue 1px solid;
        color: $blue;
        display: flex;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 30px;
        padding: 1.5rem 0;
        width: 100%;
        @media only screen and (min-width: 992px) {
          font-size: 1.25rem;
          height: 75px;
          margin: 0 0.25rem;
          padding: 0.5rem 0;
          width: 200px;
        }
      }
    }
  }
  .main__nineth {
    background-color: $blue;
    padding: 3rem 1.25rem 4rem 1.25rem;
    .nineth-content {
      display: flex;
      flex-wrap: wrap;
      .nineth-content-container {
        margin: 1rem auto;
        width: 100%;
        @media only screen and (min-width: 992px) {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          max-width: 275px;
        }
        p {
          color: $beige;
          font-size: 1rem;
          font-weight: 450;
          line-height: 1.25rem;
          margin: 0.25rem 0;
          text-align: center;
          &:last-child {
            font-weight: 700;
          }
        }
      }
      .nineth-content-logo {
        margin: 2rem auto 3rem auto;
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
      }
      .nineth-content-legal {
        margin: 0 auto 2rem auto;
        @media only screen and (min-width: 992px) {
          align-items: center;
          display: flex;
          margin: 0 auto;
          width: 750px;
        }
        p {
          color: $beige;
          font-size: 0.75rem;
          font-weight: 450;
          line-height: 15px;
          @media only screen and (min-width: 992px) {
            margin: 0;
          }
        }
      }
      .nineth-content-qr {
        margin: 0 auto;
      }
    }
  }
}
