$font: "Circular Std", sans-serif;

$beige: #f9f4e1;
$blue: #323d4a;
$orange: #ff8542;
$white: #fff;
$yellow: #f3d52a;

$weight: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
